/* base tag styles */

@media only screen and (min-width: 1024px){

    body {
        background-color: #f5f5f5;
        color: #222629;
        margin: 0;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }

    nav {
        position: fixed; 
        width: 100%;
        z-index: 10;
        background-color: #222629;
    }

    p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h3 {
        font-size: 24px;
        line-height: 2;
    }

    hr {
        margin: 2;
        border-width: 3px;
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    li {
        font-size: 16px;
    }

    footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background-color: #f5f5f5;
        line-height: 2;
    }

    .footer:hover {
        background-color: #DEF2F1;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

    /* selector tag styles */

    .split-color {
        display: flex; 
        position: fixed;
        right: 0;
        width: 50%; 
        height: 100vh; 
        background-color: rgba(211, 211, 211, 0.5);
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    .name {
        color: white;
        text-align: left;
        margin: 0;
        padding: 0rem 2rem;
        display: inline;
    }

    .name:hover {
        cursor: pointer;
        text-decoration: overline underline;
    }

    .section {
        color: white;
        margin: 0;
        display: inline;
        float: right;
        padding: 0px 20px;
    }

    .section:hover {
        background-color: #2B7A78;
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }

    .activepage {
        text-decoration: overline;
    }

    .main {
        position: absolute;
        top: 85px;
        width: 100%;
    }

    .bgimg {
        background-image: url("./../particlebg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 69vh;
    }

    .logos {
        width: 100%;
        height: auto;
        padding: 2px 5px;
        max-width: 150px;
    }

    .currentlogo {
        width: 30%;
        height: auto;
        padding: 2px 5px;
    }

    .Alimimage {
        width: 40%;
        height: auto;
        vertical-align: middle;
        border-radius: 50%;
        margin: 10px;
        border:solid black 4px;
    }

    .Alimimage:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0.5;
    }

    .hide {
        display: none;
        font-size: 24px;
        font-family: Snell Roundhand;
    }

    .Alimimage:hover + .hide {
        display: block;
    }

    .mobile {
        display: none;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        padding: 20px;
        text-align: center;
    }

    .column3 {
        flex: 25%;
        padding: 20px;
    }

    #logosrow1 {
        align-items: center;
    }

    #logosrow2 {
        align-items: center;
    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.5;
    }

    .fa-instagram {
        background: #9645bc;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-github {
        background: black;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    #skills-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #skills-container > * {
        font-size: 3em;
        width: 3em;
        margin-top: 0.5em;
    }

    #skills-container > *:hover {
        opacity: 0.75;
        transition: all 0.3s ease;
    }

    .containerborder {
        padding: 1rem;
        border: 2px solid black;
        margin: 1rem;
    }

    .color-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .colorpanel {
        flex-basis: 400px;
        text-align: center;
        line-height: 2;
        margin: 1rem;
    }

    .colorbox1 {
        background-color: #222629;
        color: white;
    }

    .colorbox2 {
        background-color: #2B7A78;
        color: white;
    }

    .colorbox3 {
        background-color: #3AAFA9;
        color: white;
    }

    .colorbox4 {
        background-color: #DEF2F1;
        color: white;
    }

    .colorbox5 {
        background-color: #f5f5f5;
        color: white;
    }

    .font-container {
        display: flex;
    }

    .fontpanel {
        margin: 1rem;
    }

    .fontname {
        text-decoration: underline;
    }

}

@media only screen and (max-width: 1024px) {
    body {
        background-color: #f5f5f5;
        color: #222629;
        margin: 0;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }

    nav {
        position: fixed; 
        width: 100%;
        z-index: 10;
        background-color: #222629;
    }

    p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h3 {
        font-size: 24px;
        line-height: 2;
    }

    hr {
        margin: 2;
        border-width: 3px;
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    li {
        font-size: 16px;
    }

    footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background-color: #f5f5f5;
        line-height: 2;
        margin-top: auto;
    }

    .footer:hover {
        background-color: #DEF2F1;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

    /* selector tag styles */

    #page-container {
        position: relative;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 150px;
    }

    .name {
        color: white;
        text-align: left;
        margin: 0;
        padding: 0rem 2rem;
        display: inline;
        text-decoration: overline underline;
    }

    .name:hover {
        cursor: pointer;
        text-decoration: overline underline;
    }

    .section {
        color: white;
        margin: 0;
        display: inline;
        float: right;
        padding: 0px 20px;
    }

    .section:hover {
        background-color: #2B7A78;
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }

    .activepage {
        text-decoration: overline;
    }

    .main {
        position: relative;
        top: 85px;
        width: 90%;
    }

    .bgimg {
        background-image: url("./../particlebg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 69vh;
        width: 100vw;
    }

    .logos {
        width: 100%;
        height: auto;
        padding: 2px 5px;
        max-width: 120px;
    }

    .currentlogo {
        width: 30%;
        height: auto;
        padding: 2px 5px;
    }

    .Alimimage {
        width: 40%;
        height: auto;
        vertical-align: middle;
        border-radius: 50%;
        margin: 40px;
        margin-right: 0px;
        border:solid black 3px;
    }

    .hide {
        display: none;
        font-size: 20px;
    }

    .desktop {
        display: none;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .row {
        display: flex;
    }

    .column3 {
        flex: 25%;
        padding: 10px;
    }

    #logosrow1 {
        align-items: center;
    }

    #logosrow2 {
        align-items: center;
    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.5;
    }

    .fa-instagram {
        background: #9645bc;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-github {
        background: black;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    #skills-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #skills-container > * {
        font-size: 2em;
        width: 2em;
        margin: 0.5em 0em;
    }

    .containerborder {
        padding: 1rem;
        border: 2px solid black;
        margin: 1rem;
    }

    .color-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .colorpanel {
        flex-basis: 400px;
        text-align: center;
        line-height: 2;
        margin: 1rem;
    }

    .colorbox1 {
        background-color: #222629;
        color: white;
    }

    .colorbox2 {
        background-color: #2B7A78;
        color: white;
    }

    .colorbox3 {
        background-color: #3AAFA9;
        color: white;
    }

    .colorbox4 {
        background-color: #DEF2F1;
        color: white;
    }

    .colorbox5 {
        background-color: #f5f5f5;
        color: white;
    }

    .font-container {
        display: flex;
    }

    .fontpanel {
        margin: 1rem;
    }

    .fontname {
        text-decoration: underline;
    }

    .column {
        flex: 100%;
        text-align: center;
    }
}